#header {
    background-color: #ffffff;
}

#logo {
    height: auto;
    width: auto;
    max-width: 20%;
    max-height: 20%;
    margin-left: 5%;

}

#profile{
    border: none;
    background-color: white;
    color: #8c2d19;
    font-family: "Lucida Sans Unicode";
    font-size: large;
    float: right;
    margin-right: 6%;
    margin-top: 1%;
}

body {
    background-color: #8c2d19;
    text-align: justify;
}

#community{
    border: none;
    background-color: white;
    color: #8c2d19;
    font-family: "Lucida Sans Unicode";
    font-size: large;
    float: right;
    margin-right: 6%;
    margin-top: 1%;
}

#topics {
    margin-top: 100px;
    text-align: center;
	}

input {
    margin: 10px !important;
}

input#content {
    height: 155px;
}
