<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<head>
    <meta charset="UTF-8"/>
    <title>FEUPOverflow</title>
    <div id="header" style="background-color: #ffffff;">
        <title>FEUPOverflow</title>
        <img src="https://i.imgur.com/mp8zMLB.png" style="height: auto; width: auto; max-width: 20%; max-height: 20%; margin-left: 5%;"/>
    </div>
</head>
<body>
    <table id="posts-table" class="col-md-6" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>x votos</td>
            <td>x comments</td>
            <td>tags</td>
            <td>created by x</td>
        </tr>
        </tbody>
    </table>
    <h1>
        <p th:text="${posts[0].title}")/> //aqui e preciso iterar
    </h1>
</body>
</html>
