<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link href="post.css" rel="stylesheet"/>
    <title>FEUPOverflow</title>
    <div id="header" style="background-color: #ffffff;">
        <title>FEUPOverflow</title>
        <img src="https://i.imgur.com/mp8zMLB.png" style="height: auto; width: auto; max-width: 20%; max-height: 20%; margin-left: 5%;"/>
    </div>
</head>
<body>
<div class="container-fluid" align="center">
    <form id="askquestion-form" method="post">
        <input type="text" name="title" placeholder="Title: What's your question?" class="col-md-6" style="margin: 10px"/>
        <input type="text" id="content" name="content" class="col-md-6" style="margin: 10px; height: 65px;"/>
        <!--<p th:text="'Hello, ' + ${title} + '!'" />-->
    </form>
    <div id="askquestion-buttons">
        <button id="btn-cancel" class="btn btn-default">Cancel</button>
        <button id="btn-submit" class="btn btn-primary" onclick="submit()">Submit</button>
    </div>
</div>
</body>
</html>

<script>

    function submit() {

        questionJson = $('#askquestion-form').serializeArray();
        postJsonArray = formToJson(questionJson);

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4)
                console.log(xmlHttp.responseText);
        }
        xmlHttp.open("POST", "/post", true); // true for asynchronous
        xmlHttp.send(postJsonArray); //parametros do body

    }


    function formToJson(formArray){
        stringJson = "{";
        for (var i = 0, len = formArray.length; len>i; i++) { //esta verificacao len>i teve de ser ao contrario pq o spring queixa-se do simbolo de menor
            stringJson+= "\""
            stringJson+= formArray[i].name;
            stringJson+="\":\"";
            stringJson+= formArray[i].value;
            stringJson+="\"";
            if(i!=len-1)
                stringJson+=", ";
        }
        stringJson+= "}";
        return stringJson
    }

</script>