#header {
    background-color: #ffffff;
}

#log {
    height: auto;
    width: auto;
    max-width: 20%;
    max-height: 20%;
    margin-left: 5%;

}

#profile{
    border: none;
    background-color: white;
    color: #8c2d19;
    font-family: "Lucida Sans Unicode";
    font-size: large;
    float: right;
    margin-right: 6%;
    margin-top: 1%;
}

body {
    background-color: #8c2d19
}

#margin {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffff;
}

#topics {

    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#descri {
    height: 100%;
    border-bottom-style: solid;
    padding-bottom: 2%;
}

#carac {
    margin-left: 7%;
}

#user{
    float: right;
}

#comments {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    clear: both;
    background-color: white;
}

#votes{
    margin-bottom: 5%;
}