<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <div id="header">
        <link href="post-r.css" rel="stylesheet">
        <title>FEUPOverflow</title>
        <img id="img" src="https://i.imgur.com/mp8zMLB.png"
             style="height: auto; width: auto; max-width: 20%; max-height: 20%; margin-left: 5%;"/>

        <script type="text/javascript">
            document.getElementById("img").onclick = function () {
                location.href = "index.html";
            };
        </script>
        <button id="profile">User Name</button>

        <script type="text/javascript">
            document.getElementById("profile").onclick = function () {
                location.href = "profile.html";
            };
        </script>

        <button id="community">Community</button>

        <script type="text/javascript">
            document.getElementById("community").onclick = function () {
                location.href = "community.html";
            };
        </script>


    </div>
</head>
<body>
<div class="container-fluid" align="center">
    <p th:text="${post.title}" class="col-md-6" style="margin: 10px"/>
    <br/>
    <p th:text="${post.content}" class="col-md-6"/>
</div>

<div id="margin">
    <h1>Why is a parameter pack allowed after default arguments?</h1>
    <div id="topics">
        <h5 id="descri">Maybe I'm missing something obvious, but the following compiles and runs, and I'm not sure why.
            I am aware
            of this, but in the example below the position of the parameter pack and the default argument are reversed.
            Doesn't it violate the rule that default arguments have to appear last? The parameter pack cannot have a
            default value.</h5>

        <h6 id="user">user</h6>
    </div>
    <div id="carac">
        <h6>votes coments views</h6>
    </div>

    <div id="comments">

        <h5>As an addition to the great answer by rsp, it's also worth noting that this behavior makes logical sense.
            Non-default, non-parameter-pack arguments cannot follow a default argument without resulting the in the
            requirement that the default argument has to be specified--in which case it is no longer a default
            argument.</h5>

        <h6 id="user">user</h6>
        <button>up</button>
        <button>down</button>
        <h6 id="votes">votes</h6>

        <h5>As an addition to the great answer by rsp, it's also worth noting that this behavior makes logical sense.
            Non-default, non-parameter-pack arguments cannot follow a default argument without resulting the in the
            requirement that the default argument has to be specified--in which case it is no longer a default
            argument.</h5>

        <h6 id="user">user</h6>
        <button>up</button>
        <button>down</button>
        <h6 id="votes">votes</h6>

        <h5>As an addition to the great answer by rsp, it's also worth noting that this behavior makes logical sense.
            Non-default, non-parameter-pack arguments cannot follow a default argument without resulting the in the
            requirement that the default argument has to be specified--in which case it is no longer a default
            argument.</h5>

        <h6 id="user">user</h6>
        <button>up</button>
        <button>down</button>
        <h6 id="votes">votes</h6>

        <input type="text" id="commentBox">

        <button id="btn-submit" class="btn btn-primary" onclick="submit()">Submit</button>

        <script>

            function submit() {

                commentJson = $('#askquestion-form').serializeArray();
                commentJsonArray = formToJson(commentJson);

                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState == 4)
                        console.log(xmlHttp.responseText);
                }
                xmlHttp.open("POST", "/comment", true); // true for asynchronous
                xmlHttp.send(commentJsonArray); //parametros do body

            }


            function formToJson(formArray) {
                stringJson = "{";
                for (var i = 0, len = formArray.length; len > i; i++) { //esta verificacao len>i teve de ser ao contrario pq o spring queixa-se do simbolo de menor
                    stringJson += "\""
                    stringJson += formArray[i].value;
                    stringJson += "\"";
                    if (i != len - 1)
                        stringJson += ", ";
                }
                stringJson += "}";
                return stringJson
            }

        </script>

    </div>
</div>
</body>
</html>
