#header {
    background-color: #ffffff;
}

#log {
    height: auto;
    width: auto;
    max-width: 20%;
    max-height: 20%;
    margin-left: 5%;

}

#profile{
     border: none;
     background-color: white;
     color: #8c2d19;
     font-family: "Lucida Sans Unicode";
     font-size: large;
     float: right;
     margin-right: 6%;
     margin-top: 1%;
 }

body {
    background-color: #8c2d19;
    text-align: justify;
}

#margin {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffff;
}

#topics {

    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#community{
    border: none;
    background-color: white;
    color: #8c2d19;
    font-family: "Lucida Sans Unicode";
    font-size: large;
    float: right;
    margin-right: 6%;
    margin-top: 1%;
}

#avatar {
    margin-top: 2%;
    float: left;
    max-width: 150px;
    max-height: 170px;
}

#caracteristicas{
    margin-top: 6%;
    margin-left: 20%;
}

#edit{
    margin-top: 3%;
    float: right;
    border: none;
    background-color: #8c2d19;
    color: white;
}