<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <div id="header">
        <link href="profile.css" rel="stylesheet">
        <title>FEUPOverflow</title>
        <img id="img" src="https://i.imgur.com/mp8zMLB.png"
             style="height: auto; width: auto; max-width: 20%; max-height: 20%; margin-left: 5%;"/>

        <script type="text/javascript">
            document.getElementById("img").onclick = function () {
                location.href = "index.html";
            };
        </script>

        <button id="profile">User Name</button>

        <script type="text/javascript">
            document.getElementById("profile").onclick = function () {
                location.href = "profile.html";
            };
        </script>
    </div>
</head>
<body>

<div id="margin">
    <div id="topics">
        <button id="edit">Edit Profile</button>
        <h4>User Name</h4>
        <img id="avatar" src="../img/img_avatar.png"/>
        <div id="caracteristicas">
            <h4>blabla123xXx</h4>
            <h5>e-mail: blablablabla@gmail.com</h5>
            <p></p>
            <h4>Stats:</h4>
            <h5>3 posts</h5>
            <h5>10 comments</h5>
        </div>
    </div>
</div>
</body>
</html>
